parameters:
	level: 9
	paths:
		- 'php-src'
#	scanDirectories:
#		- 'php-tests/external/'
	scanFiles:
		- 'php-tests/_autoload.php'
		- 'php-tests/_bootstrap.php'
#		- 'php-tests/CommonTestClass.php'
#	excludePaths:
#		- 'php-tests/external/'
#		- 'php-tests/CommonTestClass.php'
	bootstrapFiles:
		- 'php-tests/_autoload.php'
